.home__hero-section {
  color:#e3c143;
  padding: 10px 0;
  direction: rtl;
  
}



.home__hero-row {
  padding: 70px 0;
  align-items: center;
  align-self: center;
}

.row {
  display: flex;
 
  flex-wrap: wrap;
  align-content:center;
}

.col {
  margin-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  flex: 1;
  max-width: 50%;
  flex-basis: 50%;
}

.home__hero-text-wrapper {
  max-width: 540px;
  padding-top: 0;
  padding-bottom: 60px;
}

.top-line {
  color:#fff;
  font-size: 20px;
  align-items: center;
  line-height: 30px;
  font-weight: 700;
  letter-spacing: 1.4px;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.heading {
  margin-bottom: 24px;
  font-size: 48px;
  line-height: 1.1;
  font-weight: 600;
  color:#fff;
}

.dark {
  color: #1c2237;
}

.darkBg {
  background-color: #5f1782;
}

.home__hero-subtitle {
  max-width: 440px;
  margin-bottom: 35px;
  font-size: 18px;
  line-height: 24px;
}

.home__hero-img-wrapper {
  max-width: 5555px;
}

.home__hero-img {
  max-width: 95%;
  margin-top: 0px;
  margin-right:60px;
  margin-left: 60px;
  
}

img {
  border: 0;
  max-width:100px;
  vertical-align: center;
  display: inline-flex;
}

@media screen and (max-width: 991px) {
  .container {
    padding-right: 100px;
    padding-left: 100px;
  }
}

@media screen and (max-width: 768px) {
  .home__hero-text-wrapper {
    padding-bottom: 65px;
  }

  .col {
    max-width: 100%;
    flex-basis: 100%;
    padding: 70px 0;
  }
}